*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
.main{
margin:0px 10vw;
}
.heading{
    color: rgb(96, 172, 202);
    margin-top: 2rem;
}
.basic{
    display: flex;
    max-width:75vw;
    padding: 25px 30px;
    /* border-style: solid black; */
    border-style: solid;
    border-color: rgb(219, 209, 209);
    border-width: 2px;
    border-radius: 20px;
    box-shadow: rgb(197, 176, 176) 2px 5px 7px;

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.input-box{
    
    margin:1.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input{
    border-radius: 5px;
    width: 20rem;
    height: 2.5rem;
    margin-top: 0.5rem;
}

label{
    font-size: large;
}


form{
    display: flex;
}

/* .input-img{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 10rem;
    height: 10rem;
    border: 1px dotted gray;
    align-items: center;
} */


.drag-area{
    margin:3rem 5rem;
    border: 2px dashed grey;
    width:15rem;
    height: 10rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .drag-area.active{
    border: 2px solid #fff;
  }
  .drag-area .icon{
    font-size: 50px;
    color: rgb(114, 109, 109);
  }
  .drag-area header{
    font-size: 5px;
    font-weight: 500;
    color: #fff;
  }

  .drag-area button{
    margin-top: 3rem;
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #5256ad;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }


  .project{
    display: flex;
    max-width:75vw;
    padding: 25px 30px;
    /* border-style: solid black; */
    border-style: solid;
    border-color: rgb(219, 209, 209);
    border-width: 2px;
    border-radius: 20px;
    box-shadow: rgb(197, 176, 176) 2px 5px 7px;

}


.search{
  border-radius: 15px;
  outline: none;
  border: solid 3.5px #0390fc;
}


.cont{
  display: flex;
  
}


.circle{
  border-radius: 50%;
  background-color: rgb(131, 127, 127);
  height: 50px;
  width: 50px;
  /* margin-right: 5rem; */
}

.line{
  width: 4rem;
  height: 2px;
  background-color: gray;
  margin-top: 25px;
  margin-left: 3.5px;
  margin-right: 3.5px;
}

.icon{
  height: 40px;
  margin-left: 8px;
}

.nav-icon{
  height: 25px;
}

.nav-cont{
  display: flex;
  justify-content: flex-end;
}